.tabs_list {
  font-size: 30px;
  text-align: center;
}

.button {
  position: relative;
  padding: 0 20px;
}

.button::before {
  top: 100%;
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

button:hover::before {
  width: 85%;
}

button:active::before {
  width: 85%;
}

.hoverView {
  text-align: center;
  margin-top: 58%;
}
