.WrapperFooter {
  max-width: 100%;
  background-color: #f5f5f5;
}

.footerContainer {
  height: 500px;
}

.col:not(:last-of-type) {
  border-right: 1px solid #dedede;
}
.col {
  padding: 75px 15px 52px 35px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 12px;
  color: #d60000;
}

.contentOne {
  padding-top: 10px;
  padding-bottom: 20px;
  p {
    margin-bottom: 1rem;
    font-size: 14px;
  }
}

.footerNavSocial {
  display: flex;
  li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.footerNavSocial li a > *:hover {
  opacity: 0.2;
}

.footerNavSocial li a:hover {
  opacity: 0.2;
}

.contentPayment {
  margin-top: 15px;
  margin-bottom: 15px;
}

.paymentTitle {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.paymentList {
  display: flex;
  flex-wrap: wrap;
  li {
    border-radius: 3px;
    border: 1px solid #dee2e6;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
  }
}
.contentTwo {
  padding-top: 10px;
  padding-bottom: 20px;
  b {
    font-weight: bold;
  }
}

.footerInformationContacts {
  li {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.informationShipments {
  margin-top: 15px;
  margin-bottom: 15px;
  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  li {
    border-radius: 3px;
    border: 1px solid #dee2e6;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
  }
}

.shipMentsImg {
  display: flex;
}

.contentThree {
  padding-top: 10px;
  padding-bottom: 20px;
}

.contentThree {
  li {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 8px;
    opacity: 1;
    transition: opacity 0.3s ease;
    a {
      font-size: 14px;
      font-weight: normal;
    }
  }
  li:hover {
    opacity: 0.3;
  }
}
.contentFour {
  padding-top: 10px;
  padding-bottom: 20px;
  p {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  input {
    height: 46px;
    padding: 10px 130px 10px 40px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 4px;
  }
  form {
    position: relative;
  }

  .iconEmail {
    position: absolute;
    top: 31%;
    left: 4%;
  }

  .buttonEmail {
    height: 46px;
    padding: 5px 25px;
    background-color: #ffffff;
    border: 1px solid var(--shop-color-button);
    border-radius: 4px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
  }

  button {
    color: #ca0000;
    cursor: pointer;
    font-weight: 700;
    transform: translateY(26%);
  }
}

.logo {
  margin-top: 12px;
  img {
    max-width: 150px;
  }
}

.copyRight {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #dedede;
  width: 100%;
  background-color: #f5f5f5;
  p {
    display: flex;
    justify-content: center;
    a {
      font-size: 13px;
      font-weight: normal;
    }
  }
}
