.heroProducts {
  display: flex;
  padding: 30px 0 40px 0;
  height: 1200px;
  justify-content: space-between;
}
.sideBar {
  position: sticky;
  top: 50px;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  width: 25.4%;
}
.contentProducts {
  overflow-y: auto;
  max-width: 74.8%;
  padding-left: 12px;
  padding-right: 12px;
}
