@use "./variables";

body {
  font-family: variables.$font-family-primary;
  line-height: 1.6;
}

.container {
  max-width: 1600px;
  padding: 0 50px;
}

.meme1 {
  color: aqua;
}

.meme2 {
  color: yellow;
}
